@font-face {
    font-family: 'cutieMolly';
    src: url(../fonts/Cutiemollydemo-2ORE3.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    background: url("../img/snake-game-cover2.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#board {
    position: absolute;
    left: 49.8vh;
    top: 10.8vh;
    width: 119vmin;
    height: 79.5vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(31, 1fr);

}

#highestScore {
    font-family: "cutieMolly";
    color: white;
    position: absolute;
    left: 60px;
    top: 9em;
    font-size: 2em;
    text-shadow: 2px 5px black;
}

#currentScore {
    font-family: "cutieMolly";
    color: white;
    position: absolute;
    left: 60px;
    top: 11em;
    font-size: 2em;
    text-shadow: 2px 5px black;
}

.snakeHead {
    background: #3774AA;
    border: 2px solid black;
}

.snakeBody {
    background: #3774AA;
    border: 2px solid black;
}

.snakeFood {
    background-color: red;
    border: 2px solid black;
    border-radius: 50px;
}