* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    background: url("../img/snake-game-cover2.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#board {
    position: absolute;
    left: 49.3vh;
    top: 10.8vh;
    background: red;
    width: 117.5vmin;
    height: 79.5vmin;
    display: grid;
    grid-template-rows: repeat(23, 1fr);
    grid-template-columns: repeat(31, 1fr);
}

.head {
    background-color: blue;
}

.food {
    background-color: blueviolet;
}