* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    background: url("../img/snake-game-cover2.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#board {
    background-color: red;
    position: absolute;
    left: 49.8vh;
    top: 10.8vh;
    width: 119vmin;
    height: 79.5vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(31, 1fr);
}

.snakeHead {
    background-color: green;
    border: 2px solid black;
}

.snakeBody {
    background-color: blue;
    border: 2px solid black;
}

.snakeFood {
    background-color: purple;
    border: 2px solid black;
}